<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZonee573Scg04AogaLZc-3Xzr8pTeqVI</string>
	<key>GCM_SENDER_ID</key>
	<string>792093820716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flr-blockchains</string>
	<key>STORAGE_BUCKET</key>
	<string>flr-blockchains.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792093820716:ios:397aa4d5796c3873574e89</string>
</dict>
</plist>